# ignore nothing for now
# *.md
#media/*.gif
#media/*.jpeg
#media/*.jpg
#media/*.png
#media/*.pdf
#media/*.tif
#open-records-generator/
.DS_Store
.htaccess
static/data/
static/bash/backup
static/bash/sync
static/bash/log
static/php/composer.phar
vendor/
static/php/stripe_key.php
