@font-face {
    font-family: 'helveticaocr';
    src: url('helveticaocr-medium.woff2') format('woff2'),
         url('helveticaocr-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




