*{
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;    
    background-color: #FFF;
    color: #000;
    font-family: 'helveticaautospaced', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

a {
    text-decoration: none;
}

a:hover {
    /* background-color: #FF0; */
    /* opacity: 0.5; */
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

/* id */

#home a {
    color: #FF0;
}

#home a:hover {
    color: #FFF;
}

#menu {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* padding: 50px; */
    padding: 70px 70px 70px 50px;
    background-color: #CCC;
}

#menu .active {
}

#menu .static, #home .static, #selected .static {
    border-bottom: 2px solid;
}

#menu a {
    border-bottom: none;
    color: #000;
}

#menu a:hover {
    border-bottom: 2px solid;
}

#menu.helveticaneuer {
    font-size: 24px;
    line-height: 42px;
}

#name {
    position: fixed;
    left: 50px;
    bottom: 50px;
    color: #00F;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5px;
}

#name a {
    color: #00F;
}

#name a:hover {
    border-bottom:2px solid;
}

#xx_show {
    display: block;
    /*width: 100px;*/
    background-image: url('/media/svg/hamburger-6-b.svg');
    
}
body[accessibility='negative_contrast'] #xx_show{
    background-image: url('/media/svg/hamburger-6-y.svg');
}
#xx_hide{
    background-image: url('/media/svg/x-6-b.svg');
}
body[accessibility='negative_contrast'] #xx_hide{
    background-image: url('/media/svg/x-6-y.svg');
}

#xx_show, #xx_hide {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-bottom: none;
    cursor: pointer;
    background-size: 50px 50px;
}

#xx_hide:hover, #xx_show:hover {
    /* opacity: 0.5; */
}

#content {
    padding: 1em;
}

#content img {
    width: 45%;
    margin-right: 10px;
}

#columns {
    columns: 250px 6;
    column-gap: 44px;
    padding: 1em;
}

/* use margin instead of <br> */
#columns div {
    margin-bottom: 22px;
}

#mask {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 1200px;*/
    /*height: 100px;*/
}

#display {
    text-align: center;
}

#c {
    /* matrix (canvas) */
}

#d {
    /* matrix (d-o-m) */
    text-align: left;
    /* letter-spacing: 7px; */
    white-space: pre-wrap;
    word-break: break-all;
}
#d.waiting:after{
    content:'–';
    animation: waiting 1s infinite;
}
#d.opening:after{
    content:'–';
    position: absolute;
    right: 0;
    bottom: 5px;
    animation: waiting 1s infinite;
}

#cursor {
    position: fixed;
    left: 28px;
    bottom: 20px;
}

#date {
    display: inline-block;
    margin-bottom: 21px;
}

#dates-menu {
    position: absolute;
    left: 150px;
    display: inline-block;
    margin-bottom: 2em;
    visibility: hidden;
}

#speak {
    /* display: none; */
    top: 0px;
    left: 0px;
    /*padding: 10px;*/
    /*opacity: 0;*/
    pointer-events: none;
    height: 0;
    width: 0;
    overflow: hidden;
    /*display: none;*/
}

#accessibility {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    font-family: 'relative10_pitch', monospace;
    font-size: 12px;
}

#screen-reader-switch{
    background-image:url('/media/svg/speak-6-k.svg');
    height: 50px;
    background-size: 100%;
    cursor: pointer;
    background-color: #fff;
}

#screen-reader-switch:hover,
#screen-reader-switch.active{
    background-color: #FF0;
}

#accessibility_list_toggle{
    background-image:url('/media/svg/accessibility-6-k.svg');
    height: 50px;
    background-size: 100%;
    cursor: pointer;
}

#accessibility_list_toggle:hover{
    background-color: #FF0;
}

/* class */

.relative {
    font-family: 'relative10_pitch', monospace;
    font-size: 13px;
}

.relative a {
    text-decoration: none;
    border-bottom: none;
    color: #000;
}

.relative a:hover {
    border-bottom:1px solid;
}

.helveticaautospaced {
    font-family: 'helveticaautospaced', monospace;
    font-size: 24px;
}

.helveticaneuer {
    font-family: 'helveticaneuer', helvetica, arial, sans-serif;
}

.helveticaneuer a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #000;
}

.helveticaneuer b {
    font-weight: normal;
}

.helveticaneuer b::before {
    /* content: '↪ '; */
    content: '↳ ';
}

.ocrflight {
    font-family: 'ocrflight', monospace;
}

.nycon {
    font-size: 15px;
    line-height: 20px;
    font-family: 'nycon', helvetica, arial, sans-serif;
}

.nycon a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #000;
}

.nycon b {
    font-weight: normal;
}

.nycon b::before {
    /* content: '↪ '; */
    content: '↳ ';
}

.title_wrapper{
    position: relative;
}

.scroller {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /*white-space: nowrap;*/
    /*display:inline-block;*/
}

.scroller .block{
    box-sizing: border-box;
    height: 100%;
    /*background-color: rgba(255, 255, 255, .5);*/
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    color: blue;
}

.scroller .block.on{
    opacity: 1;
}

.hidden {
    display: none;
}

.cursor {
    font-family: 'helveticaautospaced', monospace;
    font-size: 36px;
}

.cursor a {
    text-decoration: none;
    color: #000;
}

.blink {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-timing-function: ease-out; */
}
#accessibility_list{
    position: fixed;
    right: 65px;
    bottom: 15px;
    width: auto;
    height: 50px;
    text-align: right;
    background-color: #FFF;
    display: none;
}

#accessibility.expanded #accessibility_list{
    display: initial;
}

#accessibility_list > div {
    display: inline-block;
    height: 30px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}
#accessibility_list > div:hover{
    background-color: #FF0;
}

#accessibility_list_toggle{
    cursor: pointer;
}

#accessibility_list_container{
    position: relative;
}
.accessibility_btn.active{
    background-color: #ff0;
}

#speak_progress_ctner{
    position: fixed;
    width: 100vw;
    max-width: 100%;
    height: 5px;
}
#speak_progress_bar{
    height: 100%;
    background-color: #ff0;
    width: 0;
}
#screen-reader-ctner{
    position: relative;
    display: none;
}
#accessibility.expanded #screen-reader-ctner{
    display: block;
}
#voice_option_ctner{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 55px;
    /*right: 5px;*/
    text-align: right;
    width: calc( 100vw - 70px);
    display: none;
}
#voice_option_ctner.expanded{
    display: block;
}
.voice_option{
    cursor: pointer;
    display: inline-block;
    margin: 3px 0;
    padding: 0 10px;
    border-right: 1px solid #000;
    line-height: 1em;
}
.voice_option.current{
    color: #00f;
}
.voice_option:hover{
    color: #00f;
}
/*body[accessibility='links_underline'] a{
    border-bottom: 4px solid !important;
}*/
body[accessibility='negative_contrast']{
    background-color: #000;
    color: #fff;
}
body[accessibility='negative_contrast'] *{
    border-color: #fff !important;
}
body[accessibility='negative_contrast'] a{
    color: #FF0 !important;
    border-color: #FF0 !important;
}
body[accessibility='negative_contrast'] #menu{
    background-color: #000;
}
body[accessibility='negative_contrast'] .accessibility_btn{
    color: #000;
}
body[accessibility='negative_contrast'] #d{
    color: #fff;
}
body[accessibility='negative_contrast'] #screen-reader-switch{
    background-image:url('/media/svg/speak-6-w.svg');
}
body[accessibility='negative_contrast'] .yellow #screen-reader-switch{
    background-image:url('/media/svg/speak-6-k.svg');
}
body[accessibility='negative_contrast'] #accessibility_list_toggle{
    background-image:url('/media/svg/accessibility-6-w.svg');
}
body[accessibility='negative_contrast'] .yellow #accessibility_list_toggle,
body[accessibility='negative_contrast'] #accessibility_list_toggle:hover{
    background-image:url('/media/svg/accessibility-6-k.svg');
}
body[accessibility='negative_contrast'] button{
    color: #fff;
}

body[accessibility='high_contrast'] *{
    color: #000;
    background-color: #fff;
}

body[accessibility='high_contrast'] #menu{
    color: #000;
    background-color: #fff;
}

body[accessibility='high_contrast'] .accessibility_btn{
    border: 1px solid #000;
    border-right: none;
}
body[accessibility='high_contrast'] .accessibility_btn:last-child{
    border-right: none;
}
body[accessibility='high_contrast'] .yellow,
body[accessibility='high_contrast'] .yellow #accessibility_list_toggle{
    background-color: #ff0;
}
body[accessibility='high_contrast'] #accessibility_list_toggle{
    border: 1px solid #000;
}
body[accessibility='high_contrast'] .yellow #screen-reader-switch{
    border: 1px solid #000;
    border-bottom: none;
}
body[accessibility='high_contrast'] #accessibility_list{
    bottom: 17px;
}
body[accessibility='high_contrast'] #content{
    padding-top: 3.5em;
}
/*body[accessibility='readable_font']{
    font-family: 'relative10_pitch', monospace;
}*/

.yellow {
    background-color: #FF0;
}

/* subscribe */
button[type="submit"],
#stripe_form_submit
{
    border: none;
    background-color: transparent;
    font-size: 17px;
    line-height: 21px;
    padding-top: 21px;
    cursor: pointer;
    margin-top: 5px;
}
button[type="submit"]:hover,
#stripe_form_submit:hover
{
    border-bottom: solid 2px #000;
}
.mc-field-group label[for="mce-EMAIL"]{
    display: block;
    background-color: #FF0;
}
#fieldEmail{
    display: block;
    width: 300px;
    max-width: 100%;
    padding: 5px 3px;
}


#stripe_form{
    padding: 0 2em;
    margin-bottom: 6em;
}
/* animation */

@keyframes blink {
    0%      {opacity: 0.0;}
    100%    {opacity: 1.0;}
}
@keyframes waiting {
    0%      {opacity: 0.0;}
    49.9%   {opacity: 0.0;}
    50%     {opacity: 1.0;}
    100%    {opacity: 1.0;}
}

/* mobile */

@media screen and (max-width: 768px) {

    #content {
        top: 20px;
        left: 20px;
        padding: 25px;
        width: 75%;
    }

    #menu{
        background-color: #CCC;
    }

    /*
    #columns {
        columns: 1;
    }
    */

    .nycon {
       font-size: 16px;
       line-height: 21px;
    }

    /*#accessibility_list > div{
        font-size: 12px;
    }*/

}
