@font-face {
    font-family: 'ocrflight';
    src: url('/static/fonts/ocrflight/ocrf-light-webfont.eot');
    src: url('/static/fonts/ocrflight/ocrf-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ocrflight/ocrf-light-webfont.woff2') format('woff2'),
         url('/static/fonts/ocrflight/ocrf-light-webfont.woff') format('woff'),
         url('/static/fonts/ocrflight/ocrf-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
